<div class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3">
  <button class="btn btn-primary"><a href="/posts/new">New Post</a></button>
  <% @posts.each do |post| %>
    <div class="card">
        <div class="handle"><%= post.user %></div>
        <%= image_tag post.picture.to_s, class: 'img-fluid' %>
        <p>
        <%= post.message %>
        </p>

        <div class="post-actions float-right">
        <% if current_user && current_user == post.user %>
            <%= link_to 'Edit', edit_post_path(post) %>
            <%= link_to 'Destroy', post_path(post), method: :delete, data: {confirm: 'Are you sure?'} %>
        <% end %>
        </div>
        <br class="clear-fix" />
        
    </div>
  <% end %>
</div>